body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 800px;
    background-color: #f5f5f5;
    color: #333333;
}

.dark-theme body {
    background-color: #333333;
    color: #f5f5f5;
}

h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #58a6ff;
}

.head {
    margin-bottom: 15px;
}

.subTitle {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
}

.usernamelink {
    color: #18508f;
    text-decoration: none;
}

#roomUserText,
#roomStats {
    width: 100%;
    text-align: right;
}

#roomStats b {
    margin-right: 20px;
}

.splitchattable,
.splitstatetable {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.splitstatetable td {
    width: 50%;
}

.containerheader {
    text-align: center;
}

.chatcontainer,
.giftcontainer,
.eventcontainer {
    overflow-y: auto;
    word-wrap: break-word;
}

.eventcontainer {
    height: calc(100vh - 90px);
}

.chatcontainer {
    min-width: 400px;
    max-width: calc(100vw - 430px);
    max-height: calc(100vh - 240px);
}

.giftcontainer {
    min-width: 400px;
    max-height: calc(100vh - 240px);
}

@media (aspect-ratio: 1/1), (aspect-ratio: 9/16), (aspect-ratio: 16/9) {
    .splitchattable {
        flex-direction: column;
    }
    .chatcontainer,
    .giftcontainer {
        min-width: 100%;
        max-width: 100%;
    }
}

.miniprofilepicture {
    height: 30px;
    width: 30px;
}

.gifticon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

body.theme-dark {
    background-color: #000000;
    color: #ffffff;
}

body.theme-light {
    background-color: #f5f5f5;
    color: #333333;
}

.themeButtons button {
    width: 100px;
    height: 25px;
    background-color: #f1f1f1;
    color: #020202;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(114, 114, 114, 0);
    cursor: pointer;
}

.themeButtons button:hover {
    background-color: #1356a3;
}